# DB 관련
DB_USER=
DB_NAME=
DB_PASSWORD=
# DATASOURCE
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT=30000
# ms -> 1/1000초 -> 30초 대기 (hikari cp 연결)
# APP
SERVER_PORT=
APP_MESSAGE=